# The next file will be exclude for push to github
node_modules/
package-lock.json
public/bundle.js
public/app.css
public/bundle.js.map
public/app.css.map
client/assests/images/color-palete.png
babel_cache/